<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        
        <Console name="LogToStandardOutput" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="LogToFile" fileName="authentication.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>
  
    <Loggers>
        <logger name="org.springframework" level="ERROR"/>
        <Root level="debug">
            <AppenderRef ref="LogToStandardOutput"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
    
</Configuration>